/* GitHub Colors */
$white: #ffffff;
$off-white: #f9f9f9;
$lightblue: #3180b7;
$darkblue: #276c9c;
$gray-light: #ededed;
$gray-medium: #8d9092;
$gray: #3f4448;
$orange: #e36209;
$black: #24292e;
$yellow: #f1e05a;
$petrol: #2b7489;
$purple: #563d7c;
