@import "colors";
/* GitHub Color Naming */
$border: $gray-light;
$typing: $gray;
$typing-light: $gray-medium;
$layout-off-white: $off-white;
$layout-light: $white;
$layout-dark: $black;
$primary-main: $lightblue;
$primary-dark: $darkblue;
$highlight: $orange;
$css: $purple;
$javascript: $yellow;
$typescript: $petrol;
