<footer>
  <div class="left-section">
    <p class="copyrights">© 2020 GitHub, Inc.</p>
    <a class="link" href="javascript:">Terms</a>
    <a class="link" href="javascript:">Privacy</a>
    <a class="link" href="javascript:">Security</a>
    <a class="link" href="javascript:">Status</a>
    <a class="link" href="javascript:">Help</a>
  </div>
  <div class="middle-section">
    <img src="./assets/images/logo/github-mini-logo.png" alt="GitHub Logo" class="img-fluid">
  </div>
  <div class="right-section">
    <a class="link" href="javascript:">Contact GitHub</a>
    <a class="link" href="javascript:">Pricing</a>
    <a class="link" href="javascript:">API</a>
    <a class="link" href="javascript:">Training</a>
    <a class="link" href="javascript:">Blog</a>
    <a class="link" href="javascript:">About</a>
  </div>
</footer>
